In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Thompson,55.7435,-97.8558,-12.84,64,0,13.80,CA,2022-02-16 22:52:46
1,1,Bredasdorp,-34.5322,20.0403,58.32,77,96,3.44,ZA,2022-02-16 22:52:46
2,2,Ossora,59.2353,163.0719,5.04,93,100,7.31,RU,2022-02-16 22:52:46
3,3,Mwinilunga,-11.7358,24.4293,62.69,99,100,3.78,ZM,2022-02-16 22:52:47
4,4,Paamiut,61.9940,-49.6678,4.86,74,100,18.90,GL,2022-02-16 22:52:47

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,Vaini,-21.2000,-175.2000,86.16,79,20,6.91,TO,2022-02-16 22:52:48
17,17,Sao Borja,-28.6606,-56.0044,83.95,16,0,7.00,BR,2022-02-16 22:52:52
19,19,Puerto Ayora,-0.7393,-90.3518,84.16,72,84,7.72,EC,2022-02-16 22:52:53
21,21,Saint-Philippe,-21.3585,55.7679,78.39,81,45,11.97,RE,2022-02-16 22:52:54
27,27,Touros,-5.1989,-35.4608,83.30,73,47,9.40,BR,2022-02-16 22:52:55
35,35,Kilindoni,-7.9139,39.6668,80.73,77,30,3.96,TZ,2022-02-16 22:52:58
40,40,Kloulklubed,7.0419,134.2556,81.68,82,100,20.02,PW,2022-02-16 22:53:00
43,43,Rikitea,-23.1203,-134.9692,77.83,73,10,13.24,PF,2022-02-16 22:53:01
44,44,Labuhan,-6.8844,112.2051,76.24,92,86,5.03,ID,2022-02-16 22:54:01
46,46,Banda Aceh,5.5577,95.3222,78.42,79,100,6.42,ID,2022-02-16 22:54:02

In [17]:
# Look for any null values 
preferred_cities_df.count()

City_ID       168
City          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
Country       168
Date          168
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7            Vaini      TO     86.16 -21.2000 -175.2000
17       Sao Borja      BR     83.95 -28.6606  -56.0044
19    Puerto Ayora      EC     84.16  -0.7393  -90.3518
21  Saint-Philippe      RE     78.39 -21.3585   55.7679
27          Touros      BR     83.30  -5.1989  -35.4608
35       Kilindoni      TZ     80.73  -7.9139   39.6668
40     Kloulklubed      PW     81.68   7.0419  134.2556
43         Rikitea      PF     77.83 -23.1203 -134.9692
44         Labuhan      ID     76.24  -6.8844  112.2051
46      Banda Aceh      ID     78.42   5.5577   95.3222

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try: 
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort
17,Sao Borja,BR,83.95,-28.6606,-56.0044,Hotel Executivo
19,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
21,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
27,Touros,BR,83.30,-5.1989,-35.4608,INN NEW HORIZON
35,Kilindoni,TZ,80.73,-7.9139,39.6668,Bustani B&B
40,Kloulklubed,PW,81.68,7.0419,134.2556,Storyboard Beach Resort
43,Rikitea,PF,77.83,-23.1203,-134.9692,People ThankYou
44,Labuhan,ID,76.24,-6.8844,112.2051,DoubleFAG
46,Banda Aceh,ID,78.42,5.5577,95.3222,OYO 884 Rumoh PMI Hotel

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))