## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,79.47,light rain,-23.1203,-134.9692,People ThankYou
1,13,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
2,18,Takoradi,GH,79.54,scattered clouds,4.8845,-1.7554,Raybow International Hotel
3,26,Atuona,PF,78.98,scattered clouds,-9.8000,-139.0333,Villa Enata
4,31,Puerto Ayora,EC,77.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Olinda"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Olinda"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ares"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Natal"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Aquiraz"] 

vacation_end

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
103,424,Olinda,BR,80.33,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = start[0,5], start[0,6]

end = vacation_end.to_numpy()
end = end[0,5], end[0,6]

stop1 = vacation_stop1.to_numpy()
stop1 = stop1[0,5], stop1[0,6]

stop2 = vacation_stop2.to_numpy()
stop2 = stop2[0,5], stop2[0,6]

stop3 = vacation_stop3.to_numpy()
stop3 = stop3[0,5], stop3[0,6]

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets 

fig = gmaps.figure()
eastern_brazil_trip = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(eastern_brazil_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,424,Olinda,BR,80.33,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
1,261,Ares,BR,77.54,light rain,-6.1944,-35.1603,Recanto dos PÃ¡ssaros
2,608,Natal,BR,77.65,broken clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
3,154,Aquiraz,BR,82.49,overcast clouds,-3.9014,-38.3911,Pousada Rua Camurupim

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))